
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.full-width {
    min-width: 150px;
    width: 100%;
}
// button
.btn-fab{
    margin-bottom: 10px;
    background-color: #AC3B61;
    color: white;
    font-size: 20pt;
    font-weight: bolder;
    opacity: 0.8;
    transition: all 0.3s ease-in-out 0s;
}
.btn-fab:hover{
    margin-bottom: 10px;
    background-color: #AC3B61;
    color: white;
    font-size: 20pt;
    font-weight: bolder;
    transition: all 0.3s ease-in-out 0s;
    opacity: 1;
}

// table
table,table th,table td {
    //border: 3px white solid !important;
    border-collapse:separate;
    border-spacing:5px 5px;
    border-top: none;
    border-bottom: none;
    //border-right: none !important;
    column-gap: 5px;
}
  
table td{
    padding-top:5px;
    padding-bottom:0px;
}



// drag drop
.example-container {
    width: 100%;
    max-width: 100%;
    //margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}

.example-list {
    border: solid 1px #ccc;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
}

.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
    border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  