<div class="container-fluid">
    <div class="fade-in">
      <div class="row">
        <div class="col-md-12">
          <div class="card shadow-sm">
            <div class="card-header">انتخاب واحد</div>
            <div class="card-body" style="padding: 0;">
              <div class="col-md-12" style="margin: 0; padding:0;"> 
                    <mat-horizontal-stepper [linear]="isLinear" class="font-iran-sans-FA" #stepper>
                        <mat-step>
                            <ng-template matStepLabel>تعیین دروس ارائه شده</ng-template>
                            <div class="col-md-12 p-4" style="margin:0;">
                                <button mat-raised-button class="font-iran-sans-FA m-3">اضافه کردن درس دانشگاه</button>
                                <button mat-raised-button class="font-iran-sans-FA m-3">اضافه کردن تایم خارج دانشگاه </button>
                            </div>  
                             
                            <div class="col-md-12 table-responsive-sm" style="padding: 0; margin:0; border-top: none;">
                                <!-- table view for charts  -->
                                <table class="table table-responsive-sm table-hover" style="border-top: none; margin-bottom: 0 !important;">
                                <thead class="thead" style="border-top: none;">
                                    <tr style="border-top: none;">
                                    <th class="text-center"></th>
                                    <th>نام درس</th>
                                    <th class="text-center">زمان</th>
                                    <th class="text-center">نوع</th>
                                    <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of mySemester;index as i">
                                        <td class="text-center">
                                            {{i+1}}
                                        </td>
                                        <td style="min-width: 160px;">
                                            {{item.courses.course.title}}
                                            <!--<div>{{chart.title}}</div>
                                            <div class="small text-muted"><span>{{chart.study}}</span> | {{chart.university}}</div>-->
                                        </td>
                                        <td style="min-width: 130px;" class="text-center">
                                            <div>
                                                
                                            </div>
                                        </td>
                                        <td class="text-center">
                                            <div>دانشگاه</div>
                                        </td>
                                        <td class="text-center" style="max-width: 225px;"> 
                                            <button mat-raised-button 
                                                    class="font-iran-sans-FA btn-success ml-3 mb-2" 
                                                    style="min-width: 80px;">
                                                    ویرایش
                                            </button>
                                            <button mat-raised-button class="font-iran-sans-FA btn-danger ml-3"
                                                    style="min-width: 80px;">
                                                    حذف
                                            </button>

                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                            <div>
                              <button mat-button matStepperNext>مرحله بعد</button>
                            </div>
                        </mat-step>
                        <mat-step label="انتخاب درس">                        
                            <div>
                              <button mat-button matStepperPrevious>مرحله قبل</button>
                              <button mat-button matStepperNext>مرحله بعد</button>
                            </div>
                        </mat-step>
                        <mat-step>
                          <ng-template matStepLabel>تمام</ng-template>
                          <p>You are now done.</p>
                          <div>
                            <button mat-button matStepperPrevious>Back</button>
                            <button mat-button (click)="stepper.reset()">Reset</button>
                          </div>
                        </mat-step>
                    </mat-horizontal-stepper>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>