
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
    width: auto;
    background-color: #a8d0e6;
	font-family: 'Montserrat', sans-serif;
    color: black;
    padding: 0;
    //dir: 'rtl';
}

//HEADER
.background-main-image {
	width: 100%;
	height: 100vh;
	position: relative;
	background: url('../../assets/img/landing/main-laptop-coffee-and-pens.jpg') no-repeat center center/cover;
    filter: blur(6px);
    -webkit-filter: blur(6px);
    z-index: 1;
  
}

a {
	text-decoration: none;
}

.bg-text {
    font-weight: bold;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    color: white;
}

.bg-text h1 {
    margin: 10px;
    text-align: center;
    font-size: 50px;
}

.bg-text h3 {
    font-weight: lighter;
}

.bg-text a {
    color: white;
    padding: 12px 45px;
    margin-top: 40px;
    border: 1px solid white;   
    border-radius: 20px;
    top: 10%;
    right: 0;
    font-size: 25px;
}

.bg-text a:hover {
    font-weight: 500;
}
//HEADER

//FOOTER
.l {
    background: linear-gradient(-45deg, #374785, #a8d0e6, #f76c6c);
    //#ee7752, #e73c7e, #23a6d5, #23d5ab
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    bottom: 5px;
    padding: 60px;
    text-align: center;
}

.icons {
    width: 40px;
    height: 40px;
    box-shadow: black;
    padding: 0px;
    margin: 10px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}
//FOOTER