<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
</head>

<body>
	<div class="background-main-image"></div>
	<div class="bg-text">
		<h1>Big tittle here</h1>
		<h3>Lorem ipsum dolor sit amet, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3>
		<a href="#" class="btn btn-rounded">Sign In</a>
	</div>

	<footer class="text-center text-white">
		<div class="container p-4">
	
		<!-- Section: Social media -->
		<div class="social-container">
			<a href="#" class="social"><i class="fab fa-facebook-f"><svg class="icon" xmlns="http://www.w3.org/2000/svg" width="2500" height="2500" viewBox="126.445 2.281 589 589"><circle cx="420.945" cy="296.781" r="294.5" fill="#3c5a9a"/><path fill="#fff" d="M516.704 92.677h-65.239c-38.715 0-81.777 16.283-81.777 72.402.189 19.554 0 38.281 0 59.357H324.9v71.271h46.174v205.177h84.847V294.353h56.002l5.067-70.117h-62.531s.14-31.191 0-40.249c0-22.177 23.076-20.907 24.464-20.907 10.981 0 32.332.032 37.813 0V92.677h-.032z"/></svg></i></a>
			<a href="#" class="social"><i class="fab fa-google-plus-g"><img class="icon" src="https://img.icons8.com/fluent/48/000000/google-logo.png"/></i></a>
			<a href="#" class="social"><i class="fab fa-linkedin-in"><svg class="icon" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1" viewBox="0 0 128 128"><circle cx="64" cy="64" r="64" fill="#0177b5"/><path fill="#fff" d="M92,32H36a4,4,0,0,0-4,4V92a4,4,0,0,0,4,4H92a4,4,0,0,0,4-4V36A4,4,0,0,0,92,32ZM52,86H42V56H52ZM47,52a6,6,0,1,1,6-6A6,6,0,0,1,47,52ZM86,86H76V66c0-1.66-2.24-3-5-3-4,0-5,5.34-5,7V86H56V56H66v7c0-5,4.48-7,10-7A10,10,0,0,1,86,66Z"/></svg></i></a>
		</div>
		<section class="mb-6">
			<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
			distinctio earum repellat quaerat voluptatibus placeat nam,
			commodi optio pariatur est quia magnam eum harum corrupti dicta,
			aliquam sequi voluptate quas.
			</p>
		</section>
		<!-- Section: Text -->
	
	
		<!-- Section: Links -->
		<section class="">
			<!--Grid row-->
			<div class="row">
			<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Links</h5>
	
				<ul class="list-unstyled mb-0">
				<li>
					<a href="#!" class="text-white">Link 1</a>
				</li>
				<li>
					<a href="#!" class="text-white">Link 2</a>
				</li>
				<li>
					<a href="#!" class="text-white">Link 3</a>
				</li>
				<li>
					<a href="#!" class="text-white">Link 4</a>
				</li>
				</ul>
			</div>
	
			<div class="col-lg-6 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Links</h5>
	
				<ul class="list-unstyled mb-0">
				<li>
					<a href="#!" class="text-white">Link 1</a>
				</li>
				<li>
					<a href="#!" class="text-white">Link 2</a>
				</li>
				<li>
					<a href="#!" class="text-white">Link 3</a>
				</li>
				<li>
					<a href="#!" class="text-white">Link 4</a>
				</li>
				</ul>
			</div>
			</div>
		</section>
		</div>  
	</footer>
</body>