<div class="container-fluid">
    <div class="fade-in">
      <!-- /.row-->
      <div class="row">
        <div class="col-md-12">
            <mat-accordion class="chart-expansion-headers-align"> 
                <mat-expansion-panel >
                  <mat-expansion-panel-header>
                    <mat-panel-title class="font-iran-sans-FA">
                      اطلاعات دانشگاه و رشته
                    </mat-panel-title>
                    <mat-panel-description class="font-iran-sans-FA">
                      هر آنچه که مربوط به دانشگاه و رشته است را تغییر بده

                      <mat-icon style="float:left;">account_circle</mat-icon>
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <!--<p class="font-iran-sans-FA">توضیحات</p>-->
                  <div class="container-fluid" style="padding: 0; margin:0;">
                    <div class="row" style="width: 100%; margin: 0;">
                        <div class="col-md-6 p-2">
                            <mat-form-field  style="width: 100%"
                            class="full-width input-focus-hover font-iran-sans-FA">
                                <mat-label>نام دانشگاه</mat-label>
                                <input matInput style="font-size: 16px; height: 50px; padding-bottom: 5px;" placeholder="مثلا تمرین سری 1">
                            </mat-form-field>
                        </div>
                        <div class="col-md-6 p-2" style="float: left;">
                            <mat-form-field class="full-width input-focus-hover font-iran-sans-FA">
                                <mat-label>رشته</mat-label>
                                <input matInput style="font-size: 16px; height: 50px; padding-bottom: 5px;" placeholder="مثلا دانشگاه">
                            </mat-form-field>
                        </div>
                    </div>
                  </div>
                </mat-expansion-panel>
                <mat-expansion-panel >
                    <mat-expansion-panel-header>
                      <mat-panel-title class="font-iran-sans-FA">
                        انتخاب چارت درسی
                      </mat-panel-title>
                      <mat-panel-description class="font-iran-sans-FA">
                        بین چارت های موجود جستجو کن
                        <mat-icon style="float:left;">search</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <!--<p class="font-iran-sans-FA">توضیحات</p>-->
                    <div class="container-fluid" style="padding: 0; margin:0;">
                      <div class="row" style="width: 100%; margin: 0;">
                            <div class="col-md-12">
                                <!-- table view for charts  -->
                            </div>
                            <div class="col-md-12 p-2">
                                <button mat-raised-button class="font-iran-sans-FA">جستجو هوشمند بر اساس نام رشته و دانشگاه</button>
                            </div>
                      </div>
                    </div>
                  </mat-expansion-panel>
                <!--<mat-expansion-panel (opened)="panelOpenState = true"
                                     (closed)="panelOpenState = false">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Self aware panel
                    </mat-panel-title>
                    <mat-panel-description>
                      Currently I am {{panelOpenState ? 'open' : 'closed'}}
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <p>I'm visible because I am open</p>
                </mat-expansion-panel>-->
            </mat-accordion>
            
            
            
        </div>
        <!-- /.col-->
      </div>
      <!-- /.row-->
    </div>
  </div>
  <div class="container-fluid pt-3">
    <div class="fade-in">
      <!-- /.row-->
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">نمایش درس ها</div>
            <div class="card-body">
              <div class="col-md-12">
                  123
              </div>
            </div>
          </div>
        </div>
        <!-- /.col-->
      </div>
      <!-- /.row-->
    </div>
  </div>

